<div class="new_article_page">
<h1><%= @article.title %></h1>

<p><%= @article.body %>
  <% if current_user == @article.user %>
    <%= link_to edit_article_path(@article), class: 'btn-navbar' do %>
      <i class="fa fa-pencil delete_edit" aria-hidden="true"></i>
    <% end %>
    <%= link_to article_path(@article), method: :delete, class: 'btn-navbar' do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  <% end %>                
</p> 
  <h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
    <li>
      <%= link_to "Destroy", article_comment_path(@article, comment), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>